.container-contato{
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  margin-top: 96px;
}

.esquerda-contato{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 61px;
  margin-bottom: 7rem;
}

.esquerda-contato-texto h1{
  font-size: 60px;
  width: 577px;
}

.esquerda-contato-images{
  display: flex;
  gap: 40.52px;
}

.border{
  border: 2px solid #B9B7B7;
  height: 48vh;
}

.direita-contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.direita-contato p{
  width: 125px;
  font-size: 28px;
}

.name-label-direita {
  display: flex;
  flex-direction: column;
}

.name-label-direita p{
  width: 116px;
  font-size: 28px;
}

.enviar-botao-contato{
  margin-top: 0.5rem;
  padding-left: 35rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.enviar-botao-contato a{
  border-radius: 6px;
  width: 225px;
  text-align: center;
  background-color: #6975E8;
  padding: 15px;
  color: white;
  text-decoration: none;
}
