.card{
    width: 309px;
    height: 326px;
    border-radius: 16px;
    background-color: #6975E8;
}

.layout-card{
    margin: 16px 34px 16px 34px;
}

.header-card{
    display: flex;
    justify-content: space-between;
}


.cards-home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.cards-home p{
    width: 241px;
    height: 42px;
    font-size: 18px;
}

.cards-home h1{
    width: 135px;
    height: 42px;
    font-size: 32px;
}

.number-card{
    width: 77px;
    height: 84px;
    font-size: 64px;
}

