.container-home{
  display: flex;
  width: 70%;
  max-width: 75%;
  min-width: 50%;
  margin: 0 auto;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.esquerda{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 30vw;
}
.esquerda h1{
  font-size: 60px;
  width: 577px;
}

.esquerda p{
  font-size: 24px;
  width: 497px;
}


.botao{
  background-color: #333333;
  border-radius: 40px;
  text-align: center;
  width: 200px;
  padding: 10px;
}

.botao a{
  font-style: none;
  text-decoration: none;
  color: white;
}

.sec{
  margin-top: 32px;
}

.direita{
  align-items: center;
  justify-content: end;
}

.direita img{
  margin-top: 8rem;
}

.container-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

